.account-information {
    background: #fff;
    border: var(--border);
    padding: 2rem;
    box-sizing: var(--box-shadow);
    border-radius: .7rem;
}

.account-information form h3{
    font-size: 2.6rem;
    color: var(--black);
    text-align: center;
}

.account-information form span{
    display: block;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.account-information form .box{
    width: 100%;
    font-size: 1.8rem;
    border: var(--border);
    border-radius: .7rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.account-information form .error{
    color: var(--apple);
    font-size: 1.6rem;
}

.account-information form .edit-button{
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    display: inline-block;
    padding: .5rem 3rem;
    border-radius: .7rem;
    color: #fff;
    background: var(--apple);
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
}

.account-information form .edit-button:hover{
    background: var(--dark-apple);
}

.account-information form select{
    font-size: 1.8rem;
    background: #eee;
    border: var(--border);
    border-radius: .5rem;
    padding: .7rem;
    width: 100%;
}

.account-information form .buttons-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.account-information form .buttons-container .save-button{
    flex: 50%;
    display: inline-block;
    padding: .5rem 3rem;
    border-radius: .7rem;
    color: #fff;
    background: var(--apple);
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
}

.account-information form .buttons-container .save-button:hover{
    background: var(--dark-apple);
}

.account-information form .buttons-container .cancel-button{
    flex: 50%;
    background-color: #fff;
    border: var(--border);
    color: var(--black);
    display: inline-block;
    padding: .5rem 3rem;
    border-radius: .7rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
}

.account-information form .buttons-container .cancel-button:hover{
    background-color: #dfdfdf;
}
