
.footer{
    padding: 3rem 4%; 
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
    gap: 1rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.8rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--apple);
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
    color: #fff;
    background: var(--apple);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.8rem;
    color: var(--black);
    text-align: center;
}

.footer .credit span{
    color: var(--apple);
}