/* ********************************************* header 1 ************************************************** */

.header .header-1{
    background: #fff;
    padding: 1rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.header .header-1 .search-form{
    width: 50rem;
    height: 4.4rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .7rem;
}

.header .header-1 .search-form input{
    font-size: 1.8rem;
    padding: 0 1.2rem;
    width: 100%;
    height: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 1.8rem;
    padding: 0 1rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--apple);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons .login-icon.active{
    color: green;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--apple);
}

.header .header-1 .icons .search-icon{
    display: none;
}

/* header 2 */

.header .header-2{
    background: var(--apple);
}

.header .header-2 .navigation-bar{
    text-align: center;
}

.header .header-2 .navigation-bar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem 1.2rem 1rem 1.2rem;
    font-size: 1.8rem;
    border-bottom: .2rem solid var(--apple);
}

.header .header-2 .navigation-bar a:hover{
    border-bottom: .2rem solid #fff;
}

.header .header-2.active{
    position:fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

/* media queries */

@media (max-width:991px){

    .header .header-1{
        padding: 1rem 2rem;
    }

}

@media (max-width:768px){

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .icons .search-icon{
        display: inline-block;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -200%;
        width: 90%; right: 2.5rem;
        box-shadow: var(--box-shadow);
        z-index: 500;
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

    .header .header-1 .search-form{
        height: 5rem;
    }

    .header .header-2{
        display: none;
    }

}

@media (max-width:450px){

}
