.header .header-2 .navigation-bar .header-shop{
    border-bottom: .2rem solid #fff;
}

.bottom-navigation .bottom-navigation-shop{
    border-bottom: .4rem solid #fff;
}

.details {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem 4%;
}

.reviews {
    padding: 3rem 4%;
}

.reviews h1{
    margin-bottom: 2rem;
}

.reviews h1 span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
}

.reviews .more i{
    font-size: 1.8rem;
    color: var(--apple);
}

.reviews .more a{
    font-size: 2rem;
    color: var(--apple);
}

.reviews .more a:hover{
    text-decoration: underline;
}


/* navigator */
.reviews .navigator-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    margin-top: 2rem;
    padding: 3rem 4%; 
}

.reviews .navigator-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 0 0 4rem;
    font-size: 2rem;
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
    border-radius: .4rem;
}

.reviews .navigator-container a:hover{
    background: var(--black);
    color: #fff;
}

.reviews .navigator-container a.active{
    background: var(--black);
    color: #fff;
}

