.header .header-2 .navigation-bar .header-orders{
    border-bottom: .2rem solid #fff;
}

.bottom-navigation .bottom-navigation-orders{
    border-bottom: .4rem solid #fff;
}

.edit-order{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 4%;
}
