@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=El+Messiri:wght@400..700&family=Noto+Kufi+Arabic:wght@100..900&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --apple: #a81f23;
    --dark-apple: #70000c;
    --black: #222;
    --light-black: #444;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

*{
    font-family: "El Messiri", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .1s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

.green-alert{
    background-color: green;
    color: #fff;
    font-size: 1.7rem;
    padding: .2rem;
    text-align: center;
    text-transform: none;
}

.red-alert{
    background-color: var(--apple);
    color: #fff;
    font-size: 1.7rem;
    padding: .2rem;
    text-align: center;
    text-transform: none;
}

.red-alert form{
    display: inline;
}

.red-alert form button{
    color: #fff;
    font-weight: bold;
    background: none;
    font-size: 1.7rem;
    cursor: pointer;
}

/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
